body{
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
    position: absolute;
}
#body1{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
    margin: 0px;
    padding: 0px;
}
#body2{
    background-image: linear-gradient(0deg,transparent,rgb(255,166,0,0.5));
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    bottom: 100px;
}
#logo{
    height: 50px;
    width:100px;
    margin: 20px;
    margin-left: 200px;
    position: absolute;
}
.top{
    left: 760px;
    position: relative;
    float: left;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
    font-size: 10px;
}
.mainhead{
    top:20px;
    font-weight: bold;
}
#body2 {
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}
#bimage{
    width: 100%;
    height: 600px;
    margin: 0px;
    padding: 0px;
}
.heading{
    position: absolute;
    top:17%;
    text-align: center;
    margin-left: 32%;
    color:white;
    font-size: 50px;
}
.img::after{
    content: "";
    display: block;
    width: 100%;
    height: 46%;
    background-color: rgb(8, 20, 49);
    position: absolute;
    top:90px;
    left: 0;
    opacity: 0.9;
}
.heading2{
    position: absolute;
    top: 32%;
    text-align: center;
    margin-left: 42%;
    color:white;
    font-size: 15px;
}
.bix{
    font-size: 20px;
    width: 90px;
    height: 20px;
    border: 1px solid white;
    background-color: rgb(246, 227, 60);
    border-radius: 50px;
    color: white;
}
.bix1{
    font-size: 20px;
    width: 90px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50px;
    color: white;
}
.heading2 img{
    height: 10px;
    width: 20px;
    margin-top: 120px;
}
#body3{
    background-color: rgb(255, 255, 255);
    width: 80%;
    height: 500px;
    margin-left: 100px;
    display: flex;
    margin-top: 100px;
}
.text{
    font-size: 20px;
   color: rgb(157, 148, 148);
}
.text1 img{
    height: 400px;
    width: 600px;
    margin-left: 200px;
}
.head{
    font-size: 50px;
    color: black;
}
.sub{
    margin-left: 20px;
    font-weight: bold;
    color: black;
}