#show{
    height: 100px;
    width: 100px;
    background-color: red;
}

.box1 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
#section1{
    height: 100px;
    background-color: palegreen;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section2{
    height: 500px;
    background-color: rgb(152, 238, 251);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}