body,html,*{
    box-sizing: border-box;
    background-color: red;
    margin: 0px;
    padding: 0px;
}
.head3{
    height: 600px;
    width: 1000px;
    background-color: white;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px;
}
.seven{
    height: 60%;
    width: 100%;  
    background-color: rgb(230, 11, 11);
}
.seven1,.seven2{
    height: 100%;
    float: left;
    background-color: rgb(230, 11, 11);
}
.seven1{
    width: 60%;
    background-color: rgb(230, 11, 11);
}
.seven2{
    width: 40%;
    background-color: rgb(230, 11, 11);
}
.eight{
    height: 40%;
    width: 100%;
    background-color: rgb(230, 11, 11);
}
.eight1{
    height: 100%;
    width: 33.33%;
    float: left;
    background-color: rgb(230, 11, 11);
}
.eight2{
    height: 100%;
    width: 100%;
    background-color: rgb(147, 4, 4);
    padding: 20px;
}
#eight1{
    padding: 0 7px 0 0;
}
#eight2{
    padding: 0 3.5px 0 3.5px;
}
#eight3{
    padding: 0 0 0 7px;
}
.eight h4{
    padding: 0 0 10px 0;
    background-color: rgb(147, 4, 4);
}
.eight p{
    background-color: rgb(147, 4, 4);
}
.mainhead{
    margin-top: 80px;
    color: white;
    background-color: rgb(230, 11, 11);
}
.mainhead2{
    margin-top: 20px;
    color: white;
    background-color: rgb(230, 11, 11);
}
.head{
    height: 100%;
    width: 75%;
    margin-left: 50px;
    background-color: rgb(230, 11, 11);
}
.seven h1{
    padding: 10px 0 20px 0;
}
