body{
    background-color: brown;
    margin: 0px;
    padding: 0px;
}
.a{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 722px;
    margin: auto;
    padding: 20px;
    border: 1px ;
}
.b{
    background-color: rgb(250, 74, 162);
    width: 92%;
    height: 50px;
    margin: auto;
    padding: 20px;
    border: 1px ;
    margin-top: 12px;
}
.split {
    width: 60%;
    margin-top: 10px;
    z-index: 1;
    overflow-x: hidden;
    position:absolute;
}
.left {
    width: 38%;
    height: 500px;
    margin-left: 14px;
    background-color: rgb(217, 15, 130);
}
.right {
    width: 17.5%;
    height: 500px;
    margin-left: 39.70%;
    background-color: rgb(174, 8, 102);
}
.c{
    background-color: rgb(113, 16, 77);
    width: 92%;
    height: 50px;
    margin: auto;
    padding: 20px;
    border: 1px ;
    margin-top: 61.2%;
}
.d{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 405px;
    margin: auto;
    padding: 20px;
    border: 1px ;
    text-align: center;
    color: rgb(255, 255, 255);
}
.e{
    background-color: rgb(83, 191, 241);
    width: 92%;
    height: 15px;
    margin: auto;
    padding: 20px;
    border: 1px ;
    margin-top: 12px;
}
.left1 {
    width: 18%;
    height: 250px;
    margin-left: 14px;
    background-color: rgb(115, 194, 84);
}
.right1 {
    width: 37.3%;
    height: 185px;
    margin-left: 20%;
    background-color: rgb(240, 211, 48);
}
.f{
    background-color: rgb(137, 126, 132);
    width: 59%;
    height: 15px;
    margin: auto;
    padding: 20px;
    border: 1px ;
    margin-top: 205px;
    margin-left: 34.5%;
}
.g{
        background-color: rgb(246, 120, 30);
        width: 92%;
        height: 15px;
        margin: auto;
        padding: 20px;
        border: 1px ;
        margin-top: 12px; 
}
.h{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 210px;
    margin-left: 265px;
    padding: 35px;
    border: 1px ;
    display: flex;
}
.i{
    background-color: rgb(255, 0, 0);
    height: 200px;

    padding: 20px;
    margin-top: 5px;
}
.left2,.mid,.right2 {
    width: 30%;
    height: 220px;
    float: left;
    margin: 5px;
    background-color:brown ;
    padding: 15px;

}
h4{
    color: white;
    font-weight: bold;
    margin-left: 15px;
}
p{
    color:white;
    size: 8px;
    font-weight: lighter;
    margin-left: 25px;
}
.j{
    width: 85%;
    height: 220px;
    margin-left: 35px;
    background-color: rgb(255, 0, 0);
    padding: 35px;
    border:  bold 1px  ;
    border-color: white;
    display: flex;
}
.l{
    background-color: white;
    margin-left: 265px;
    width: 929px;
}
.m{
    background-color: white;
    height: 37px;
    width: 64.85%;
    margin-left: 265px;
}
h1{
    margin-left: 25px;
    margin-top: 60px;
    color: white;
}
.i p{
    width: 80%;

}
